@colorhoverorange: rgba(180,66,41,0.45);

@font-face {
  font-family: Portico;
  src: url("../fonts/684_Portico/Portico Rough Oblique.otf");
}

@font-face {
  font-family: Exo;
  src: url('../fonts/Exo.otf');
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans.ttf');
}

body, html {
  padding: 0;
  margin: 0;
  color: #5e5e5e;
  font-family: "Open Sans", sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 10px 0;
  border-bottom: 3px solid #2F2F2F;
  background: url('../images/zamkid.jpg') no-repeat;
  background-size: 100%;
}

#headerTop {
  width: 1100px;
  margin: 0 auto;
}

#logo {
  width: 55px;
  height: 70px;
  float: left;
  background: url('../images/logo.png') no-repeat;
  background-size: contain;
}

#companyName {
  text-align: right;
  font-family: "Portico", serif;
  float: left;
  margin-left: 50px;
  padding-top: 20px;
  font-size: 40px;
  line-height: 70px;
  color: black;
}

#navWrap {
  height: 70px;
  float: right;
  display: flex;
  align-items: center;
  flex-direction: row;
  a {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: black;
    text-decoration: none;
    border-left: 1px solid slategray;
    padding: 0 20px;
    height: 70px;
    line-height: 70px;
    &:hover {
      background: @colorhoverorange;
    }
    &:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

#content {
  min-height: 600px;
  width: 1100px;
  margin: 0 auto;
  padding: 20px auto;
}

footer {
  float: left;
  width: 100%;
  height: 300px;
  background: #323232;
  color: #fff;
  border-top: 3px solid #e6e09a;
}

#footerInside {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  height: 100%;
}

#copyrights {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

#social {
  padding-top: 20px;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.socialItem {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

#backss {
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 50px;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      background: @colorhoverorange;
    }
  }
}

#contacts {
  position: absolute;
  left: 0;
  top: 20px;
  width: 340px;
}

.contacts {
  float: left;
  width: 600px;
  margin-bottom: 10px;
  line-height: 40px;
}

.contactIcon {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

#footerNav {
  position: absolute;
  right: 0;
  top: 45px;
  width: 200px;
  a {
    display: block;
    text-align: right;
    color: #e6e09a;
    margin-bottom: 10px;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
}

/* -------------------- НАЧАЛО стилей для главной страницы --------------------- */

#promo {
  background: url('../images/zamkid.jpg') no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  margin-top: -101px;
  float: left;
}

#promoText {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 150px;
  color: black;
  font-family: Exo, sans-serif;
  font-size: 40pt;
  word-spacing: 12px;
}

#mainTextWrap {
  width: 100%;
  float: left;
}

#mainTextWrapinfo {
  margin-top: 40px;
  width: 100%;
  float: left;
}

#mainText {
  width: 1100px;
  margin: 40px auto;
  text-align: justify;
}

@media all and (min-width: 1500px) {
  #promo {
    height: 800px;
  }
}

/* ----------------- КОНЕЦ стилей для главной страницы ---------------------- */

/* ------------------ НАЧАЛО стилей для главной страницы магазниа ---------------------- */

#shopWrap {
  width: 100%;
  float: left;
}

.shopUnit {
  float: left;
  width: 28%;
  padding: 5px;
  border: 1px solid rgba(225, 225, 225, 0.7);
  margin-right: 6.365%;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 231px;
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.shopUnitName {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-family: Exo, sans-serif;
  font-size: 1.2em;
}

.shopUnitShortDesc {
  text-align: justify;
  margin-top: 10px;
}

.shopUnitPrice {
  text-align: right;
  padding-right: 20px;
  margin-top: 10px;
  color: #6a6747;
  font-weight: bold;
}

.shopUnitMore {
  border: none;
  padding: 5px 15px;
  background-color: #696969;
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #e6e09a;
  text-decoration: none;
  &:hover {
    color: #fff;
    background-color: #777777;
  }
}

#shop_pages {

}

/* ------------------ КОНЕЦ стилей для главной старницы магазина -------------------------- */

/* ---------------- НАЧАЛО стилей для страницы с открытым товаром ----------------------- */

#openedProduct-img {
  margin-top: 40px;
  float: left;
  width: 30%;
  margin-right: 3%;
  img {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(225, 225, 225, 0.7);
  }
}

#openedProduct-content {
  float: left;
  width: 67%;
  padding-bottom: 40px;
}

#openedProduct-name {
  font-family: Exo, sans-serif;
  font-size: 2em;
  margin-top: 0;
}

#openedProduct-desc {
  margin-top: 20px;
}

#openedProduct-price {
  margin-top: 10px;
  color: #6a6747;
  font-weight: bold;
}

#backButton {
  /*padding-top: 80px;*/
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      background: @colorhoverorange;
    }
  }
}

/* ---------------- КОНЕЦ стилей для страниы с открытым товаром -------------------------- */

